Repository Rehike/Rehike, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YukisCoffee, @kawapure, @bluedragon-cairo, @Erizur, @Zehnter, @VexorionReal, @kwan-vini, @malina-1797, @aubymori, @syndiate, @TorutheRedFox, @DavidCGranger

[Async] Ensure traces exist at the time of synchronous promise call
  modules/Rehike/Async/Promise.php
Owners: @YukisCoffee

[Async] Add tracking cookie to Promise
  modules/Rehike/Async/Promise.php
Owners: @YukisCoffee

[Async] Compile time define to toggle deferred promises
  modules/Rehike/Async/Promise.php
Owners: @YukisCoffee

[Async] Improve PromiseResolutionTracker handling
  modules/Rehike/Async/Promise.php
  modules/Rehike/Async/Promise/IPromiseResolutionTrackerSupport.php
  modules/Rehike/Async/Promise/PromiseResolutionTracker.php
Owners: @YukisCoffee

[Async] Improve PromiseEvent family relationship
  modules/Rehike/Async/Promise/PromiseEvent.php
Owners: @YukisCoffee

[Async] Remove outdated unused import from QueuedPromiseResolver
  modules/Rehike/Async/Promise/QueuedPromiseResolver.php
Owners: @YukisCoffee

[Async] Overhaul events
  modules/Rehike/Async/EventLoop/Event.php
  modules/Rehike/Async/EventLoop/EventFlags.php
  modules/Rehike/Async/EventLoop/EventLoop.php
  modules/Rehike/Async/EventLoop/IEvent.php
  modules/Rehike/Async/EventLoop/IFulfillableEvent.php
  modules/Rehike/Async/EventLoop/NullEvent.php
Owners: @YukisCoffee

[Network] Fix up PHP 8.1 cURL runner, improve request handling, fixes...
  modules/Rehike/Network/Handler/Curl/EventLoopRunner.php
  modules/Rehike/Network/Handler/CurlHandler.php
  modules/Rehike/Network/Handler/NetworkHandler.php
Owners: @YukisCoffee, @aubymori, @kawapure

[Async] Migrate PromiseAllController to use a backing PromiseEvent
  modules/Rehike/Async/Promise/PromiseAllController.php
Owners: @YukisCoffee

[Async] Add backing event for AsyncFunction
  modules/Rehike/Async/Concurrency/AsyncFunction.php
  modules/Rehike/Async/Concurrency/AsyncFunctionEvent.php
Owners: @YukisCoffee

Add promise resolution tracker logging to HitchhikerController
  .version
  controllers/core/HitchhikerController.php
Owners: @YukisCoffee, @kawapure

Fix tracking cookie UID error
  modules/Rehike/Async/Debugging/TrackingCookie.php
Owners: @YukisCoffee

Normalise return type of DisplayNameManager::ensureDataAvailable
  models/Comments/DisplayNameManager.php
Owners: @YukisCoffee

[Async/EventLoop]: Only clear queued promises after level 0 finish
  modules/Rehike/Async/EventLoop/EventLoop.php
Owners: @YukisCoffee

Make AjaxController extend from HitchhikerController instead of Nirvana
  .version
  controllers/core/AjaxController.php
Owners: @YukisCoffee, @kawapure

[Protos] Add missing BrowseContinuationWrapper proto
  src/protos/browse_continuation.proto
Owners: @YukisCoffee

[Protos] Update BrowseRequestParams to fix channel tabs
  modules/generated/Com/Youtube/Innertube/Request/BrowseRequestParams.php
  modules/generated/Com/Youtube/Innertube/Request/BrowseRequestParams/Flow.php
  modules/generated/Com/Youtube/Innertube/Request/BrowseRequestParams/Sort.php
  modules/generated/Com/Youtube/Innertube/Request/ModernBrowseAboutParams.php
  modules/generated/Com/Youtube/Innertube/Request/ModernBrowseChannelsParams.php
  modules/generated/Com/Youtube/Innertube/Request/ModernBrowseCommunityParams.php
  modules/generated/Com/Youtube/Innertube/Request/ModernBrowseCoursesParams.php
  modules/generated/Com/Youtube/Innertube/Request/ModernBrowseFeaturedParams.php
  modules/generated/Com/Youtube/Innertube/Request/ModernBrowseLiveParams.php
  modules/generated/Com/Youtube/Innertube/Request/ModernBrowsePlaylistParams.php
  modules/generated/Com/Youtube/Innertube/Request/ModernBrowsePodcastsParams.php
  modules/generated/Com/Youtube/Innertube/Request/ModernBrowseReleasesParams.php
  modules/generated/Com/Youtube/Innertube/Request/ModernBrowseSearchParams.php
  modules/generated/Com/Youtube/Innertube/Request/ModernBrowseShoppingParams.php
  modules/generated/Com/Youtube/Innertube/Request/ModernBrowseShortsParams.php
  modules/generated/Com/Youtube/Innertube/Request/ModernBrowseVideoParams.php
  modules/generated/Com/Youtube/Innertube/Request/ModernBrowseVideoParams/ModernSort.php
  modules/generated/Com/Youtube/Innertube/Request/ModernContinuationParams.php
  modules/generated/Com/Youtube/Innertube/Request/ModernMetadata.php
  modules/generated/Com/Youtube/Innertube/Request/ModernWebParams.php
  modules/generated/GPBMetadata/BrowseRequestParams.php
  src/protos/browse_request_params.proto
Owners: @YukisCoffee

Fix InnerTube request rejection on channel other-tab requests
  .version
  controllers/ChannelPageController.php
Owners: @YukisCoffee, @aubymori, @kawapure

Fix crash on viewing owned playlists
  .version
  controllers/PlaylistPageController.php
Owners: @YukisCoffee, @aubymori, @kawapure

Fix homepage rich shelf converter from making fake "gridLockupViewModel"
  .version
  modules/Rehike/Util/RichShelfUtils.php
Owners: @YukisCoffee, @aubymori, @kawapure

Bandaid fix for list view homepage
  .version
  models/Browse/InnertubeBrowseConverter.php
Owners: @YukisCoffee

Fix #682
  .version
  modules/Rehike/Async/Concurrency/AsyncFunction.php
Owners: @YukisCoffee

Properly handle paused comments (new YouTube feature)
  .version
  i18n/en-US/comments.i18n
  i18n/ja/comments.i18n
  models/Comments/CommentsHeader.php
  models/Comments/MCommentReplyButton.php
  models/Comments/MCommentVoteButton.php
  models/ViewModelConverter/CommentsViewModelConverter.php
  template/hitchhiker/common/comments/header.twig
  template/hitchhiker/core/rehike_custom_css.twig
Owners: @YukisCoffee, @aubymori, @kawapure

Fix PHP 8.1 enum handling
  includes/rehike_autoloader.php
  modules/Rehike/Debugger/RebugJsonEncodeManager.php
Owners: @YukisCoffee, @kawapure, @aubymori

Fix PHP 8.1 enum handling (#683)
  includes/rehike_autoloader.php
  modules/Rehike/Debugger/RebugJsonEncodeManager.php
Owners: @YukisCoffee, @kawapure, @aubymori

Fix a crash with scalar-backed enums in RebugJsonEncodeManager
  modules/Rehike/Debugger/RebugJsonEncodeManager.php
Owners: @YukisCoffee

Fix a crash with scalar-backed enums in RebugJsonEncodeManager (#684)
  modules/Rehike/Debugger/RebugJsonEncodeManager.php
Owners: @YukisCoffee

Ignore members-only videos in watch recommendation view count manager
  .version
  models/Watch/WatchBakery.php
Owners: @YukisCoffee, @aubymori, @kawapure

Fix opened-but-not-closed li when bad watch recommendation renderer
  .version
  template/hitchhiker/common/watch/sidebar/macros.twig
Owners: @YukisCoffee, @kawapure, @aubymori

Remove ublock_error.twig
  .version
  template/hitchhiker/core/core.twig
  template/hitchhiker/core/ublock_error.twig
Owners: @YukisCoffee, @kawapure, @aubymori

Update InnerTube client version to 2025/09/28
  .version
  modules/Rehike/Network.php
Owners: @YukisCoffee, @aubymori, @kawapure

Refactor subscribe button view model parser into MSubscriptionActions
  .version
  models/Channels/Channels4/MHeader.php
  models/Common/Subscription/MSubscriptionActions.php
Owners: @YukisCoffee, @aubymori, @kawapure

Fix crash if attachment runs style run doesn't have startLength
  .version
  modules/Rehike/Util/ParsingUtils.php
Owners: @YukisCoffee, @aubymori, @kawapure

Fix video owner info on watch page with new multiple owners (#686)
  .version
  models/Watch/CollaboratorsParser.php
  models/Watch/Watch8/MVideoPrimaryInfoRenderer.php
  models/Watch/Watch8/PrimaryInfo/MOwner.php
  models/Watch/WatchBakery.php
Owners: @YukisCoffee, @aubymori, @kawapure

Remove debug prints
  .version
  models/Watch/Watch8/PrimaryInfo/MOwner.php
Owners: @YukisCoffee, @aubymori, @kawapure

Fix crash when a Promise in PromiseAllController throws an Error instead of an Exception
  modules/Rehike/Async/Promise/PromiseAllController.php
Owners: @YukisCoffee

Fix crash when a Promise in PromiseAllController throws an Error instead of an Exception (#687)
  modules/Rehike/Async/Promise/PromiseAllController.php
Owners: @YukisCoffee

Update MMetadataRowContainer.php
  models/Watch/Watch8/SecondaryInfo/MMetadataRowContainer.php
Owners: @YukisCoffee, @aubymori, @kawapure

Update Converter.php
  models/Guide/Converter.php
Owners: @YukisCoffee, @aubymori, @kawapure

Update .version
  .version
Owners: none

.github/CODEOWNERS:

# The following volunteers have self-identified as subject matter experts
# or interested parties over a particular area of the Rehike source code.
# While requesting a review from someone does not obligate that person to
# review a pull request, these reviewers might have valuable knowledge of
# the problem area and could aid in deciding whether a pull request is ready
# for merging.
#
# For more information, see the GitHub CODEOWNERS documentation:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Language translation owners:
/i18n/en-US @YukisCoffee
/i18n/en-GB @YukisCoffee @kawapure
/i18n/ja @YukisCoffee
/i18n/ko @bluedragon-cairo
/i18n/es-LA @Erizur
/i18n/nl-NL @Zehnter
/i18n/pl @VexorionReal
/i18n/pt-BR @kwan-vini
/i18n/ru @malina-1797

# General code
/.git-hooks @YukisCoffee
/.github @YukisCoffee @kawapure @aubymori

/controllers @YukisCoffee @aubymori @kawapure
/controllers/ajax @aubymori
/controllers/core @YukisCoffee @kawapure
/controllers/rehike @YukisCoffee
/controllers/rehike/config.php @aubymori

/docs @YukisCoffee @kawapure

/includes @YukisCoffee @kawapure @aubymori

/models @YukisCoffee @aubymori @kawapure
/models/Browse @YukisCoffee
/models/Comments @YukisCoffee
/models/Rehike @YukisCoffee
/models/Results @kawapure
/models/Share @syndiate

/modules/generated @YukisCoffee
/modules/Rehike @YukisCoffee @aubymori @kawapure
/modules/Rehike/Async @YukisCoffee
/modules/Rehike/ControllerV2 @YukisCoffee
/modules/Rehike/Debugger @YukisCoffee
/modules/Rehike/i18n @YukisCoffee
/modules/Rehike/Player @YukisCoffee @kawapure @TorutheRedFox @DavidCGranger
/modules/Rehike/Signin @YukisCoffee @kawapure
/modules/Rehike/SignInV2 @YukisCoffee @kawapure
/modules/Rehike/Spf @YukisCoffee @kawapure
/modules/Rehike/Version @YukisCoffee
/modules/YukisCoffee @YukisCoffee

/src @YukisCoffee @aubymori @kawapure
/src/build_tools @kawapure
/src/img @YukisCoffee
/src/protos @YukisCoffee

/static/js/html5player @TorutheRedFox @YukisCoffee
/static/js/www-base-rehike.js @YukisCoffee

/template/hitchhiker @YukisCoffee @kawapure @aubymori
/template/hitchhiker/rehike @YukisCoffee
/template/hitchhiker/page_fragments @YukisCoffee @kawapure
/template/hitchhiker/player @YukisCoffee @TorutheRedFox

/index.php @YukisCoffee @kawapure @aubymori
/router.php @YukisCoffee @kawapure @aubymori
