Repository Rehike/Rehike, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YukisCoffee, @kawapure, @bluedragon-cairo, @Erizur, @Zehnter, @VexorionReal, @kwan-vini, @malina-1797, @aubymori, @syndiate, @TorutheRedFox, @DavidCGranger

Update VideoRendererViewModelConverter.php
  models/ViewModelConverter/VideoRendererViewModelConverter.php
Owners: @YukisCoffee, @aubymori, @kawapure

Update .version
  .version
Owners: none

Fix collaborators on browse video renderers
  .version
  controllers/ResultsPageController.php
  models/Browse/InnertubeBrowseConverter.php
  models/Common/MCollaborator.php
  models/ViewModelConverter/VideoRendererViewModelConverter.php
  models/Watch/CollaboratorsParser.php
  models/Watch/Watch8/PrimaryInfo/MOwner.php
  modules/Rehike/Util/ParsingUtils.php
Owners: @YukisCoffee, @aubymori, @kawapure

Update comments.i18n
  i18n/pt/comments.i18n
Owners: none

[i18n/pt] Comments paused message
  i18n/pt/comments.i18n
Owners: none

Safe Twig i18n HTML interpolation implementation
  modules/Rehike/TemplateUtilsDelegate/RehikeUtilsDelegateBase.php
  modules/Rehike/TemplateUtilsDelegate/RehikeUtilsI18nDelegate.php
  modules/Rehike/TemplateUtilsDelegate/SafeHtml.php
Owners: @YukisCoffee, @aubymori, @kawapure

Add nameserver caching to Rehike library
  modules/Rehike/Util/Nameserver/Nameserver.php
  modules/Rehike/Util/Nameserver/NameserverCache.php
Owners: @YukisCoffee, @aubymori, @kawapure

Safe Twig i18n HTML interpolation implementation (#689)
  modules/Rehike/TemplateUtilsDelegate/RehikeUtilsDelegateBase.php
  modules/Rehike/TemplateUtilsDelegate/RehikeUtilsI18nDelegate.php
  modules/Rehike/TemplateUtilsDelegate/SafeHtml.php
Owners: @YukisCoffee, @aubymori, @kawapure

Add nameserver caching to Rehike library (#690)
  modules/Rehike/Util/Nameserver/Nameserver.php
  modules/Rehike/Util/Nameserver/NameserverCache.php
Owners: @YukisCoffee, @aubymori, @kawapure

Safe HTML interpolation for Prototaxis credit link
  .version
  template/hitchhiker/rehike/version/credits.twig
Owners: @YukisCoffee

Option to change DNS server
  i18n/en-US/rehike/config.i18n
  i18n/es-LA/rehike/config.i18n
  i18n/ja/rehike/config.i18n
  i18n/pt/rehike/config.i18n
  models/Rehike/Config/ConfigModelContents.php
  modules/Rehike/Boot/Bootloader.php
  modules/Rehike/Boot/Tasks.php
  modules/Rehike/ConfigDefinitions.php
  modules/Rehike/Network.php
  modules/Rehike/Util/Nameserver/Nameserver.php
  modules/Rehike/Util/Nameserver/NameserverCache.php
  template/hitchhiker/rehike/config/js.twig
  template/hitchhiker/rehike/config/main.twig
Owners: @YukisCoffee, @Erizur, @aubymori, @kawapure

Remove joke TODOs
  models/Rehike/Version/MRuntimeInfo.php
  modules/Rehike/RuntimeInfo.php
Owners: @YukisCoffee, @aubymori, @kawapure

Fix hardcoded internal object use in ChannelUtils::getUcid()
  controllers/ChannelPageController.php
  modules/Rehike/Helper/ChannelUtils.php
Owners: @YukisCoffee, @aubymori, @kawapure

Clean up watch URL time parser
  controllers/WatchPageController.php
  controllers/ajax/AnnotationsInvideoController.php
Owners: @YukisCoffee, @aubymori, @kawapure

Remove marked dead code in GetVideoMetadataController
  controllers/ajax/GetVideoMetadataController.php
Owners: @aubymori

Add position independent byline formatting option
  i18n/en-US/global.i18n
  i18n/es-LA/global.i18n
  i18n/ja/global.i18n
  i18n/ko/global.i18n
  i18n/nl-NL/global.i18n
  i18n/pl/global.i18n
  i18n/pt/global.i18n
  i18n/ru/global.i18n
  i18n/uk/global.i18n
  template/hitchhiker/attribution.twig
  template/hitchhiker/common/playlist/pl_video.twig
  template/hitchhiker/common/uix/lockup.twig
  template/hitchhiker/common/watch/playlist/macros.twig
  template/hitchhiker/common/watch/playlist/playlist_header.twig
  template/hitchhiker/common/watch/sidebar/macros.twig
Owners: @YukisCoffee, @Erizur, @bluedragon-cairo, @Zehnter, @VexorionReal, @malina-1797, @kawapure, @aubymori

Support for passing along frameworkUpdates to lockup converter
  models/Browse/InnertubeBrowseConverter.php
  models/Channels/Channels4Model.php
  models/Watch/WatchBakery.php
Owners: @YukisCoffee, @aubymori, @kawapure

Pass along frameworkUpdates in browse converter in more places
  models/Browse/InnertubeBrowseConverter.php
  models/Channels/Channels4Model.php
Owners: @YukisCoffee, @aubymori, @kawapure

Add "Block" string to comments i18n
  i18n/en-US/comments.i18n
  template/hitchhiker/common/comments/main.twig
Owners: @YukisCoffee, @kawapure, @aubymori

Clean up clickcard templating mess in action_buttons.twig
  template/hitchhiker/common/watch/action_buttons.twig
Owners: @YukisCoffee, @kawapure, @aubymori

Fix guide subscriptions section header when logged in
  models/Guide/Converter.php
Owners: @YukisCoffee, @aubymori, @kawapure

Remove joke TODOs (#694)
  models/Rehike/Version/MRuntimeInfo.php
  modules/Rehike/RuntimeInfo.php
Owners: @YukisCoffee, @aubymori, @kawapure

Resolve a few TODOs (#695)
  controllers/ChannelPageController.php
  controllers/WatchPageController.php
  controllers/ajax/AnnotationsInvideoController.php
  controllers/ajax/GetVideoMetadataController.php
  i18n/en-US/comments.i18n
  i18n/en-US/global.i18n
  i18n/es-LA/global.i18n
  i18n/ja/global.i18n
  i18n/ko/global.i18n
  i18n/nl-NL/global.i18n
  i18n/pl/global.i18n
  i18n/pt/global.i18n
  i18n/ru/global.i18n
  i18n/uk/global.i18n
  models/Browse/InnertubeBrowseConverter.php
  models/Channels/Channels4Model.php
  models/Watch/WatchBakery.php
  modules/Rehike/Helper/ChannelUtils.php
  template/hitchhiker/attribution.twig
  template/hitchhiker/common/comments/main.twig
  template/hitchhiker/common/playlist/pl_video.twig
  template/hitchhiker/common/uix/lockup.twig
  template/hitchhiker/common/watch/action_buttons.twig
  template/hitchhiker/common/watch/playlist/macros.twig
  template/hitchhiker/common/watch/playlist/playlist_header.twig
  template/hitchhiker/common/watch/sidebar/macros.twig
Owners: @YukisCoffee, @aubymori, @kawapure, @Erizur, @bluedragon-cairo, @Zehnter, @VexorionReal, @malina-1797

Fix guide subscriptions section header when logged in (#696)
  models/Guide/Converter.php
Owners: @YukisCoffee, @aubymori, @kawapure

Improve uncaught Promise::All exception error screen
  .version
  includes/fatal_templates/fatal_error_page.html.php
  modules/Rehike/ErrorHandler/ErrorHandler.php
  modules/Rehike/ErrorHandler/ErrorPage/PromiseAllExceptionPage.php
Owners: @YukisCoffee, @kawapure, @aubymori

Account for new content-based PO tokens
  .version
  controllers/WatchPageController.php
  modules/Rehike/Boot/Tasks.php
  modules/Rehike/Helper/Watch/ExperimentFlagManager.php
  template/hitchhiker/core/yt_global_js_config.twig
  template/hitchhiker/player/core.twig
  template/hitchhiker/player/flags.twig
Owners: @YukisCoffee, @aubymori, @kawapure, @TorutheRedFox

Fix "return to Rehike" button in disable-Rehike mode
  .version
  modules/Rehike/DisableRehike/polymer_script.js
  modules/Rehike/Helper/Watch/ExperimentFlagManager.php
Owners: @YukisCoffee, @aubymori, @kawapure

Fix SponsorBlock breaking #watch7-headline appearance (#685)
  .version
  i18n/en-US/rehike/config.i18n
  modules/Rehike/ConfigDefinitions.php
  template/hitchhiker/watch.twig
Owners: @YukisCoffee, @aubymori, @kawapure

Fix channels videos tab + core_legacy template
  .version
  controllers/ChannelPageController.php
  template/hitchhiker/core/core_legacy.twig
Owners: @YukisCoffee, @aubymori, @kawapure

Add option to disable SSL verification
  .version
  i18n/en-US/rehike/config.i18n
  modules/Rehike/ConfigDefinitions.php
  modules/Rehike/Network.php
  modules/Rehike/Network/Handler/Curl/RequestTransformer.php
  modules/Rehike/Network/Internal/Request.php
Owners: @YukisCoffee, @aubymori, @kawapure

Improve debugging and documentation for the async framework
  .version
  modules/Rehike/Async/Concurrency/AsyncFunction.php
  modules/Rehike/Async/Debugging/TraceEventId.php
  modules/Rehike/Async/Debugging/Tracing.php
  modules/Rehike/Async/Documentation/README.md
  modules/Rehike/Async/Documentation/async_functions.md
  modules/Rehike/Async/Documentation/debugging.md
  modules/Rehike/Async/Documentation/deferred.md
  modules/Rehike/Async/Documentation/event_loop.md
  modules/Rehike/Async/Documentation/promises.md
  modules/Rehike/Async/Documentation/promises_advanced.md
  modules/Rehike/Async/EventLoop/Event.php
  modules/Rehike/Async/EventLoop/EventLoop.php
  modules/Rehike/Async/Promise.php
  modules/Rehike/Async/Promise/QueuedPromiseResolver.php
  modules/Rehike/Logging/DebugLogger.php
Owners: @YukisCoffee, @aubymori, @kawapure

Fix PlayerCore crash
  .version
  modules/Rehike/Player/PlayerCore.php
Owners: @YukisCoffee, @kawapure, @TorutheRedFox, @DavidCGranger

Fix POT management logical error preventing video playback from working if the initial page wasn't watch
  controllers/WatchPageController.php
  controllers/core/HitchhikerController.php
  controllers/core/NirvanaController.php
  modules/Rehike/YtApp.php
Owners: @YukisCoffee, @aubymori, @kawapure

Fix POT management logical error preventing video playback from working if the initial page wasn't watch (#706)
  controllers/WatchPageController.php
  controllers/core/HitchhikerController.php
  controllers/core/NirvanaController.php
  modules/Rehike/YtApp.php
Owners: @YukisCoffee, @aubymori, @kawapure

fix warning on channels with no subscribers
  models/Channels/Channels4/MHeader.php
Owners: @YukisCoffee, @aubymori, @kawapure

display message on channels without any content
  i18n/en-US/channels.i18n
  models/Channels/Channels4Model.php
Owners: @YukisCoffee, @aubymori, @kawapure

solve empty channel bugs (#708)
  i18n/en-US/channels.i18n
  models/Channels/Channels4/MHeader.php
  models/Channels/Channels4Model.php
Owners: @YukisCoffee, @aubymori, @kawapure

Fix watch results continuation
  controllers/ajax/RelatedAjaxController.php
  models/Watch/FullViewCountsManager.php
  models/Watch/WatchBakery.php
Owners: @aubymori, @YukisCoffee, @kawapure

Fix watch results continuation (#709)
  controllers/ajax/RelatedAjaxController.php
  models/Watch/FullViewCountsManager.php
  models/Watch/WatchBakery.php
Owners: @aubymori, @YukisCoffee, @kawapure

Fix German string leak on comments sort button
  models/Comments/StringTranslationManager.php
Owners: @YukisCoffee

.github/CODEOWNERS:

# The following volunteers have self-identified as subject matter experts
# or interested parties over a particular area of the Rehike source code.
# While requesting a review from someone does not obligate that person to
# review a pull request, these reviewers might have valuable knowledge of
# the problem area and could aid in deciding whether a pull request is ready
# for merging.
#
# For more information, see the GitHub CODEOWNERS documentation:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Language translation owners:
/i18n/en-US @YukisCoffee
/i18n/en-GB @YukisCoffee @kawapure
/i18n/ja @YukisCoffee
/i18n/ko @bluedragon-cairo
/i18n/es-LA @Erizur
/i18n/nl-NL @Zehnter
/i18n/pl @VexorionReal
/i18n/pt-BR @kwan-vini
/i18n/ru @malina-1797

# General code
/.git-hooks @YukisCoffee
/.github @YukisCoffee @kawapure @aubymori

/controllers @YukisCoffee @aubymori @kawapure
/controllers/ajax @aubymori
/controllers/core @YukisCoffee @kawapure
/controllers/rehike @YukisCoffee
/controllers/rehike/config.php @aubymori

/docs @YukisCoffee @kawapure

/includes @YukisCoffee @kawapure @aubymori

/models @YukisCoffee @aubymori @kawapure
/models/Browse @YukisCoffee
/models/Comments @YukisCoffee
/models/Rehike @YukisCoffee
/models/Results @kawapure
/models/Share @syndiate

/modules/generated @YukisCoffee
/modules/Rehike @YukisCoffee @aubymori @kawapure
/modules/Rehike/Async @YukisCoffee
/modules/Rehike/ControllerV2 @YukisCoffee
/modules/Rehike/Debugger @YukisCoffee
/modules/Rehike/i18n @YukisCoffee
/modules/Rehike/Player @YukisCoffee @kawapure @TorutheRedFox @DavidCGranger
/modules/Rehike/Signin @YukisCoffee @kawapure
/modules/Rehike/SignInV2 @YukisCoffee @kawapure
/modules/Rehike/Spf @YukisCoffee @kawapure
/modules/Rehike/Version @YukisCoffee
/modules/YukisCoffee @YukisCoffee

/src @YukisCoffee @aubymori @kawapure
/src/build_tools @kawapure
/src/img @YukisCoffee
/src/protos @YukisCoffee

/static/js/html5player @TorutheRedFox @YukisCoffee
/static/js/www-base-rehike.js @YukisCoffee

/template/hitchhiker @YukisCoffee @kawapure @aubymori
/template/hitchhiker/rehike @YukisCoffee
/template/hitchhiker/page_fragments @YukisCoffee @kawapure
/template/hitchhiker/player @YukisCoffee @TorutheRedFox

/index.php @YukisCoffee @kawapure @aubymori
/router.php @YukisCoffee @kawapure @aubymori
