Repository Rehike/Rehike, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YukisCoffee, @kawapure, @bluedragon-cairo, @Erizur, @Zehnter, @VexorionReal, @kwan-vini, @malina-1797, @aubymori, @syndiate, @TorutheRedFox, @DavidCGranger

.github/CODEOWNERS:

# The following volunteers have self-identified as subject matter experts
# or interested parties over a particular area of the Rehike source code.
# While requesting a review from someone does not obligate that person to
# review a pull request, these reviewers might have valuable knowledge of
# the problem area and could aid in deciding whether a pull request is ready
# for merging.
#
# For more information, see the GitHub CODEOWNERS documentation:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Language translation owners:
/i18n/en-US @YukisCoffee
/i18n/en-GB @YukisCoffee @kawapure
/i18n/ja @YukisCoffee
/i18n/ko @bluedragon-cairo
/i18n/es-LA @Erizur
/i18n/nl-NL @Zehnter
/i18n/pl @VexorionReal
/i18n/pt-BR @kwan-vini
/i18n/ru @malina-1797

# General code
/.git-hooks @YukisCoffee
/.github @YukisCoffee @kawapure @aubymori

/controllers @YukisCoffee @aubymori @kawapure
/controllers/ajax @aubymori
/controllers/core @YukisCoffee @kawapure
/controllers/rehike @YukisCoffee
/controllers/rehike/config.php @aubymori

/docs @YukisCoffee @kawapure

/includes @YukisCoffee @kawapure @aubymori

/models @YukisCoffee @aubymori @kawapure
/models/Browse @YukisCoffee
/models/Comments @YukisCoffee
/models/Rehike @YukisCoffee
/models/Results @kawapure
/models/Share @syndiate

/modules/generated @YukisCoffee
/modules/Rehike @YukisCoffee @aubymori @kawapure
/modules/Rehike/Async @YukisCoffee
/modules/Rehike/ControllerV2 @YukisCoffee
/modules/Rehike/Debugger @YukisCoffee
/modules/Rehike/i18n @YukisCoffee
/modules/Rehike/Player @YukisCoffee @kawapure @TorutheRedFox @DavidCGranger
/modules/Rehike/Signin @YukisCoffee @kawapure
/modules/Rehike/SignInV2 @YukisCoffee @kawapure
/modules/Rehike/Spf @YukisCoffee @kawapure
/modules/Rehike/Version @YukisCoffee
/modules/YukisCoffee @YukisCoffee

/src @YukisCoffee @aubymori @kawapure
/src/build_tools @kawapure
/src/img @YukisCoffee
/src/protos @YukisCoffee

/static/js/html5player @TorutheRedFox @YukisCoffee
/static/js/www-base-rehike.js @YukisCoffee

/template/hitchhiker @YukisCoffee @kawapure @aubymori
/template/hitchhiker/rehike @YukisCoffee
/template/hitchhiker/page_fragments @YukisCoffee @kawapure
/template/hitchhiker/player @YukisCoffee @TorutheRedFox

/index.php @YukisCoffee @kawapure @aubymori
/router.php @YukisCoffee @kawapure @aubymori

feat(PlayerCore): Account for new common "www-embed-player-es6.js" URL
  modules/Rehike/Player/PlayerCore.php
  modules/Rehike/Player/PlayerUpdater.php
Owners: @YukisCoffee, @kawapure, @TorutheRedFox, @DavidCGranger

slightly improved ru localization
  i18n/ru/rehike/config.i18n
  i18n/ru/rehike/debugger.i18n
  i18n/ru/rehike/disable_rehike.i18n
  i18n/ru/rehike/no_internet.i18n
  i18n/ru/rehike/security_lightbox.i18n
  i18n/ru/rehike/ublock_error.i18n
  i18n/ru/rehike/version.i18n
Owners: @malina-1797

slightly improved ru localization (#710)
  i18n/ru/rehike/config.i18n
  i18n/ru/rehike/debugger.i18n
  i18n/ru/rehike/disable_rehike.i18n
  i18n/ru/rehike/no_internet.i18n
  i18n/ru/rehike/security_lightbox.i18n
  i18n/ru/rehike/ublock_error.i18n
  i18n/ru/rehike/version.i18n
Owners: @malina-1797

Fix show chat replay button
  i18n/en-US/watch.i18n
  template/hitchhiker/common/watch/live_chat/base.twig
Owners: @YukisCoffee, @kawapure, @aubymori

Fix crash if no view count string exists
  .version
  models/Watch/FullViewCountsManager.php
Owners: @YukisCoffee, @aubymori, @kawapure

Move ExperimentFlagManager to Rehike\Util
  .version
  controllers/WatchPageController.php
  controllers/core/HitchhikerController.php
  modules/Rehike/Boot/Tasks.php
  modules/Rehike/Util/ExperimentFlagManager.php
Owners: @YukisCoffee, @aubymori, @kawapure

Make router not block player/heartbeat
  .version
  router.php
Owners: @YukisCoffee, @kawapure, @aubymori

Remove debug logs from RHBuild
  .version
  src/build_tools/scripts/css_build.js
  src/build_tools/scripts/js_build.js
Owners: @kawapure

The huge player POT fix
  .version
  controllers/ajax/AnnotationsInvideoController.php
  controllers/ajax/GetVideoMetadataController.php
  controllers/core/HitchhikerController.php
  controllers/core/NirvanaController.php
  includes/static_version_map.json
  modules/Rehike/Helper/Player/PlayerExperimentFlags.php
  modules/Rehike/YtApp.php
  src/js/webpo-client/.rhbuild
  src/js/webpo-client/botguard.js
  src/js/webpo-client/debug.js
  src/js/webpo-client/global_export.js
  src/js/webpo-client/main.js
  src/js/webpo-client/util.js
  static/rehike/js/www-webpo-client.js
  template/hitchhiker/core/core.twig
  template/hitchhiker/core/experiment_flags.json
  template/hitchhiker/core/yt_global_js_config.twig
  template/hitchhiker/player/core.twig
  template/hitchhiker/player/flags.twig
Owners: @aubymori, @YukisCoffee, @kawapure, @TorutheRedFox

Fix crashes relating to now-removed player/flags.twig
  .version
  template/hitchhiker/common/channels4/video_player_view_component.twig
  template/hitchhiker/embed.twig
Owners: @YukisCoffee, @kawapure, @aubymori

Fix report item (and maybe others) in comment overflow menu
  .version
  models/Comments/CommentThread.php
Owners: @YukisCoffee

Move config JS to RehikeBuild instead of inlined
  .version
  includes/static_version_map.json
  src/js/rehike-config/.rhbuild
  src/js/rehike-config/main.js
  static/rehike/js/www-rehike-config.js
  template/hitchhiker/rehike/config/main.twig
Owners: @YukisCoffee, @kawapure, @aubymori

Move panel JS to RehikeBuild instead of inlined
  .version
  src/js/panel/.rhbuild
  src/js/panel/main.js
  template/hitchhiker/rehike/panel/base.twig
Owners: @YukisCoffee, @aubymori, @kawapure

Push compiled www-panel.js
  .version
  includes/static_version_map.json
  static/rehike/js/www-panel.js
Owners: @YukisCoffee, @kawapure, @aubymori

Move version JS to RehikeBuild instead of inlined
  .version
  includes/static_version_map.json
  src/js/version/.rhbuild
  src/js/version/main.js
  static/rehike/js/www-version.js
  template/hitchhiker/rehike/version/main.twig
Owners: @YukisCoffee, @kawapure, @aubymori

Completely uselessly fix a typo
  .version
  template/hitchhiker/common/clickcard/masthead_account_picker.twig
Owners: @YukisCoffee, @kawapure, @aubymori

Fix watch later button on watch recommendations
  .version
  models/ViewModelConverter/ToggleButtonViewModelConverter.php
Owners: @YukisCoffee, @aubymori, @kawapure

Fix unresolved PromiseEvent on Generator-backed anonymous promises
  modules/Rehike/Async/Promise/PromiseEvent.php
Owners: @YukisCoffee

Handle album playlists correctly (previously resulted in a empty video renderer)
  models/ViewModelConverter/LockupViewModelConverter.php
  modules/Rehike/Util/ParsingUtils.php
Owners: @YukisCoffee, @aubymori, @kawapure

WebPO: Support async attestation requests
  controllers/core/NirvanaController.php
  includes/static_version_map.json
  modules/Rehike/ConfigDefinitions.php
  src/js/webpo-client/botguard.js
  static/rehike/js/www-webpo-client.js
  template/hitchhiker/core/yt_global_js_config.twig
Owners: @YukisCoffee, @kawapure, @aubymori

Remove classic player leftovers
  .version
  modules/Rehike/ConfigDefinitions.php
  static/js/html5player/2014/html5player.js
  static/js/html5player/2015/html5player-new.js
  static/js/html5player/2015/html5player.js
  template/hitchhiker/core/yt_global_js_config.twig
  template/hitchhiker/player/classic_player_boot.twig
  template/hitchhiker/player/classic_player_decryptors.js.twig
  template/hitchhiker/player/classic_player_mods.js.twig
  template/hitchhiker/player/classic_player_persistent_controls.css.twig
  template/hitchhiker/player/core.twig
  template/hitchhiker/player/player_decryptor_boot.twig
Owners: @YukisCoffee, @aubymori, @kawapure, @TorutheRedFox

Remove more cases of classic player
  .version
  template/hitchhiker/core/core.twig
  template/hitchhiker/core/core_spf.twig
Owners: @YukisCoffee, @kawapure, @aubymori

Handle lack of "progressBar" property in ThumbnailBottomOverlayViewModel converter
  models/ViewModelConverter/VideoRendererViewModelConverter.php
Owners: @YukisCoffee, @aubymori, @kawapure

Move pony easter egg constants to trait instead of base class
  models/Masthead/Pony/Pony.php
  models/Masthead/Pony/PonyConstants.php
Owners: @YukisCoffee, @aubymori, @kawapure

Revert "Move pony easter egg constants to trait instead of base class"
  models/Masthead/Pony/Pony.php
  models/Masthead/Pony/PonyConstantsBase.php
Owners: @YukisCoffee, @aubymori, @kawapure

Code analysis: Suppress PHP6606 in PonyEasterEggManager
  models/Masthead/Pony/PonyEasterEggManager.php
Owners: @YukisCoffee, @aubymori, @kawapure

Make autoloader look for files based on include path
  includes/rehike_autoloader.php
Owners: @YukisCoffee, @kawapure, @aubymori

Refactor the MButton hierarchy to enforce types
  models/Comments/MCommentReplyButton.php
  models/Comments/MCommentVoteButton.php
  models/Common/MButton.php
  models/Common/Subscription/MSubscriptionButton.php
  models/Common/Subscription/MSubscriptionPreferencesButton.php
  models/Footer/MHelpButton.php
  models/Footer/MHistoryButton.php
  models/Footer/MPickerCountryButton.php
  models/Footer/MPickerLanguageButton.php
  models/Footer/MPickerSafetyButton.php
  models/Masthead/AccountPicker/MAccountPickerAddButton.php
  models/Masthead/AccountPicker/MAccountPickerButton.php
  models/Masthead/AccountPicker/MAccountPickerSettingsButton.php
  models/Masthead/AccountPicker/MAccountPickerSignOutButton.php
  models/Masthead/AccountPicker/MAccountPickerStudioButton.php
  models/Masthead/CreationMenu/MCreationClickcard.php
  models/Masthead/CreationMenu/MCreationMenu.php
  models/Masthead/MAppbarGuideToggle.php
  models/Masthead/MSignInButton.php
  models/Masthead/Notifications/MNotificationButton.php
  models/Masthead/Notifications/MNotificationSettingsButton.php
  models/Masthead/UploadButton/MUploadButton.php
  models/Masthead/UploadButton/MUploadIconButton.php
  models/Rehike/Debugger/MDialogHeaderCloseButton.php
  models/Rehike/Debugger/MHistoryButton.php
  models/Rehike/Debugger/MOpenButton.php
  models/Watch/AgeGate/MPlayerAgeGateButton.php
  models/Watch/Watch8/LikeButton/MAbstractLikeButton.php
  models/Watch/Watch8/MCreatorBarEditButton.php
  models/Watch/Watch8/PrimaryInfo/MActionButton.php
  tool/include_all.php
  tool/lint.php
  tool/lint_all.php
  tool/tool_base.php
Owners: @YukisCoffee, @aubymori, @kawapure

Update ResourceUtils::imgPath call arguments in MDefaultBanner
  models/Channels/Channels4/MDefaultBanner.php
Owners: @YukisCoffee, @aubymori, @kawapure

Fix up doc comments in Guide\Converter.php to prevent linter warnings
  models/Guide/Converter.php
Owners: @YukisCoffee, @aubymori, @kawapure

Remove unused empty DisableRehikeButton.php
  models/Rehike/Config/DisableRehikeButton.php
Owners: @YukisCoffee

Add alert for users using uBlock Origin
  .version
  includes/static_version_map.json
  src/js/ublock-detector/.rhbuild
  src/js/ublock-detector/main.js
  static/rehike/js/www-ublock-detector.js
  template/hitchhiker/core/core.twig
Owners: @YukisCoffee, @kawapure, @aubymori

Write TODOs for Network\Internal\Request
  modules/Rehike/Network/Internal/Request.php
Owners: @YukisCoffee, @aubymori, @kawapure

Fix PlayerUpdate to account for changes in embed URL format
  .version
  modules/Rehike/Player/PlayerCore.php
  modules/Rehike/Player/PlayerUpdater.php
Owners: @YukisCoffee, @kawapure, @TorutheRedFox, @DavidCGranger

Fix crash with (seemingly) TV recommendations on WN
  .version
  models/ViewModelConverter/LockupViewModelConverter.php
Owners: @YukisCoffee, @aubymori, @kawapure

[Async] Better exception handling with the event loop
  modules/Rehike/Async/EventLoop/EventException.php
  modules/Rehike/Async/EventLoop/EventLoop.php
  modules/Rehike/Async/EventLoop/IEvent.php
Owners: @YukisCoffee

Make album playlist prefix more specific (thanks Hovo)
  .version
  modules/Rehike/Util/ParsingUtils.php
Owners: @YukisCoffee, @aubymori, @kawapure

Fix up IDE type errors in RequestMetadata
  .version
  modules/Rehike/ControllerV2/RequestMetadata.php
Owners: @YukisCoffee

Refine ExperimentFlagManager
  .version
  modules/Rehike/Util/ExperimentFlagManager.php
Owners: @YukisCoffee, @aubymori, @kawapure

Accidentally did not stage
  .version
  modules/Rehike/Util/ExperimentFlagManager.php
Owners: @YukisCoffee, @aubymori, @kawapure
