Repository Rehike/Rehike, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YukisCoffee, @kawapure, @bluedragon-cairo, @Erizur, @Zehnter, @VexorionReal, @kwan-vini, @malina-1797, @aubymori, @syndiate, @TorutheRedFox, @DavidCGranger

Solve the watch later button problem once and for all
  .version
  models/ViewModelConverter/VideoRendererViewModelConverter.php
  template/hitchhiker/common/thumbnail_overlays.twig
Owners: @YukisCoffee, @aubymori, @kawapure

[Async] Bring in code to disable tracing
  .version
  modules/Rehike/Async/Debugging/Tracing.php
Owners: @YukisCoffee

[SignInV2] Finish the remaining 5% of work
  .version
  controllers/ajax/CommentServiceAjaxController.php
  controllers/ajax/DelegateAccountFragmentsController.php
  models/Masthead/AccountPicker/MAccountPickerClickcard.php
  models/Masthead/AccountPicker/MAccountPickerDelegateAccountItem.php
  modules/Rehike/Boot/Bootloader.php
  modules/Rehike/Boot/Tasks.php
  modules/Rehike/Boot/YtStateManager.php
  modules/Rehike/Network.php
  modules/Rehike/SignInV2/Builder/SessionInfoBuilder.php
  modules/Rehike/SignInV2/Builder/YtChannelAccountInfoBuilder.php
  modules/Rehike/SignInV2/CacheManager.php
  modules/Rehike/SignInV2/CacheNew/SigninCache.php
  modules/Rehike/SignInV2/GaiaAuthManager.php
  modules/Rehike/SignInV2/Info/IBuiltObject.php
  modules/Rehike/SignInV2/Info/SessionInfo.php
  modules/Rehike/SignInV2/Info/YtChannelAccountInfo.php
  modules/Rehike/SignInV2/Parser/SwitcherParser.php
  modules/Rehike/SignInV2/SessionErrors.php
  modules/Rehike/SignInV2/SignIn.php
  router.php
  template/hitchhiker/common/clickcard/masthead_account_picker.twig
Owners: @aubymori, @YukisCoffee, @kawapure

[SignInV2] Fix single Google account case
  .version
  modules/Rehike/SignInV2/GaiaAuthManager.php
Owners: @YukisCoffee, @kawapure

Polish SignInV2, formally deprecate V1 APIs, fix up PlayerCore (+ 1)
  .version
  includes/constants.php
  modules/Rehike/Boot/Tasks.php
  modules/Rehike/Boot/YtStateManager.php
  modules/Rehike/Network.php
  modules/Rehike/Player/PlayerCore.php
  modules/Rehike/Player/PlayerUpdater.php
  modules/Rehike/SignInV2/Cache/AutoCacheable.php
  modules/Rehike/SignInV2/Cache/CacheObject.php
  modules/Rehike/SignInV2/Cache/CacheProperty.php
  modules/Rehike/SignInV2/Cache/CacheReader.php
  modules/Rehike/SignInV2/Cache/CacheReaderImpl.php
  modules/Rehike/SignInV2/Cache/CacheWriter.php
  modules/Rehike/SignInV2/Cache/ICacheable.php
  modules/Rehike/SignInV2/CacheManager.php
  modules/Rehike/SignInV2/CacheNew/SigninCache.php
  modules/Rehike/SignInV2/GaiaAuthManager.php
  modules/Rehike/SignInV2/Info/GoogleAccountInfo.php
  modules/Rehike/SignInV2/Info/SessionInfo.php
  modules/Rehike/SignInV2/Info/YtChannelAccountInfo.php
  modules/Rehike/SignInV2/Parser/SwitcherParser.php
  modules/Rehike/SignInV2/README.md
  modules/Rehike/SignInV2/SignIn.php
  modules/Rehike/SignInV2/SigninCache.php
  modules/Rehike/Signin/API.php
  modules/Rehike/Signin/AuthManager.php
Owners: @YukisCoffee, @kawapure, @aubymori, @TorutheRedFox, @DavidCGranger

I forgot to update the bug report issue template for 0.9
  .github/ISSUE_TEMPLATE/bug_report.yml
  .version
Owners: @YukisCoffee, @kawapure, @aubymori

Fallback to content-based POT if player experiments unavailable
  .version
  controllers/core/HitchhikerController.php
  modules/Rehike/ConfigDefinitions.php
Owners: @YukisCoffee, @kawapure, @aubymori

Ignore generate_204 requests
  .version
  router.php
Owners: @YukisCoffee, @kawapure, @aubymori

Handle null results when accessing session info
  .version
  controllers/ChannelPageController.php
  controllers/PlaylistPageController.php
  controllers/ajax/ShareFragmentsAjax.php
  models/Channels/Channels4/MSecondaryHeader.php
  models/Guide/GuidePlaylistsManager.php
  models/Watch/Watch8/MCreatorBar.php
  models/Watch/WatchBakery.php
Owners: @YukisCoffee, @aubymori, @kawapure

WIP: View model conversion for playlist page
  .version
  controllers/ChannelPageController.php
  controllers/PlaylistPageController.php
  i18n/en-US/regex.i18n
  i18n/ja/regex.i18n
  models/Playlist/PlaylistModel.php
  models/ViewModelConverter/PlaylistHeaderViewModelConverter.php
  models/ViewModelConverter/PlaylistVideoRendererViewModelConverter.php
  models/ViewModelConverter/VideoRendererViewModelConverter.php
Owners: @YukisCoffee, @aubymori, @kawapure

Fix crash on channel playlists tab
  .version
  models/Channels/Channels4/BrandedPageV2/MSubnav.php
Owners: @YukisCoffee, @aubymori, @kawapure

Work on better network debugging infrastructure
  .version
  models/Rehike/Debugger/MNetworkRequest.php
  models/Rehike/Debugger/MNetworkTab.php
  modules/Rehike/Debugger/Context.php
  modules/Rehike/Debugger/Debugger.php
  modules/Rehike/Debugger/LoggedRequestContext.php
  modules/Rehike/Debugger/LoggedRequestType.php
  modules/Rehike/Debugger/NetworkLogging.php
  modules/Rehike/Network.php
  modules/Rehike/Network/IRequest.php
  modules/Rehike/Network/Internal/Request.php
  modules/Rehike/Network/NetworkCore.php
  src/js/rebug/main.js
  src/js/rebug/network.js
  template/hitchhiker/rehike/debugger/main.twig
Owners: @YukisCoffee, @aubymori, @kawapure

.github/CODEOWNERS:

# The following volunteers have self-identified as subject matter experts
# or interested parties over a particular area of the Rehike source code.
# While requesting a review from someone does not obligate that person to
# review a pull request, these reviewers might have valuable knowledge of
# the problem area and could aid in deciding whether a pull request is ready
# for merging.
#
# For more information, see the GitHub CODEOWNERS documentation:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Language translation owners:
/i18n/en-US @YukisCoffee
/i18n/en-GB @YukisCoffee @kawapure
/i18n/ja @YukisCoffee
/i18n/ko @bluedragon-cairo
/i18n/es-LA @Erizur
/i18n/nl-NL @Zehnter
/i18n/pl @VexorionReal
/i18n/pt-BR @kwan-vini
/i18n/ru @malina-1797

# General code
/.git-hooks @YukisCoffee
/.github @YukisCoffee @kawapure @aubymori

/controllers @YukisCoffee @aubymori @kawapure
/controllers/ajax @aubymori
/controllers/core @YukisCoffee @kawapure
/controllers/rehike @YukisCoffee
/controllers/rehike/config.php @aubymori

/docs @YukisCoffee @kawapure

/includes @YukisCoffee @kawapure @aubymori

/models @YukisCoffee @aubymori @kawapure
/models/Browse @YukisCoffee
/models/Comments @YukisCoffee
/models/Rehike @YukisCoffee
/models/Results @kawapure
/models/Share @syndiate

/modules/generated @YukisCoffee
/modules/Rehike @YukisCoffee @aubymori @kawapure
/modules/Rehike/Async @YukisCoffee
/modules/Rehike/ControllerV2 @YukisCoffee
/modules/Rehike/Debugger @YukisCoffee
/modules/Rehike/i18n @YukisCoffee
/modules/Rehike/Player @YukisCoffee @kawapure @TorutheRedFox @DavidCGranger
/modules/Rehike/Signin @YukisCoffee @kawapure
/modules/Rehike/SignInV2 @YukisCoffee @kawapure
/modules/Rehike/Spf @YukisCoffee @kawapure
/modules/Rehike/Version @YukisCoffee
/modules/YukisCoffee @YukisCoffee

/src @YukisCoffee @aubymori @kawapure
/src/build_tools @kawapure
/src/img @YukisCoffee
/src/protos @YukisCoffee

/static/js/html5player @TorutheRedFox @YukisCoffee
/static/js/www-base-rehike.js @YukisCoffee

/template/hitchhiker @YukisCoffee @kawapure @aubymori
/template/hitchhiker/rehike @YukisCoffee
/template/hitchhiker/page_fragments @YukisCoffee @kawapure
/template/hitchhiker/player @YukisCoffee @TorutheRedFox

/index.php @YukisCoffee @kawapure @aubymori
/router.php @YukisCoffee @kawapure @aubymori
