Repository Rehike/Rehike, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YukisCoffee, @kawapure, @bluedragon-cairo, @Erizur, @Zehnter, @VexorionReal, @kwan-vini, @malina-1797, @aubymori, @syndiate, @TorutheRedFox, @DavidCGranger

.github/CODEOWNERS:

# The following volunteers have self-identified as subject matter experts
# or interested parties over a particular area of the Rehike source code.
# While requesting a review from someone does not obligate that person to
# review a pull request, these reviewers might have valuable knowledge of
# the problem area and could aid in deciding whether a pull request is ready
# for merging.
#
# For more information, see the GitHub CODEOWNERS documentation:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Language translation owners:
/i18n/en-US @YukisCoffee
/i18n/en-GB @YukisCoffee @kawapure
/i18n/ja @YukisCoffee
/i18n/ko @bluedragon-cairo
/i18n/es-LA @Erizur
/i18n/nl-NL @Zehnter
/i18n/pl @VexorionReal
/i18n/pt-BR @kwan-vini
/i18n/ru @malina-1797

# General code
/.git-hooks @YukisCoffee
/.github @YukisCoffee @kawapure @aubymori

/controllers @YukisCoffee @aubymori @kawapure
/controllers/ajax @aubymori
/controllers/core @YukisCoffee @kawapure
/controllers/rehike @YukisCoffee
/controllers/rehike/config.php @aubymori

/docs @YukisCoffee @kawapure

/includes @YukisCoffee @kawapure @aubymori

/models @YukisCoffee @aubymori @kawapure
/models/Browse @YukisCoffee
/models/Comments @YukisCoffee
/models/Rehike @YukisCoffee
/models/Results @kawapure
/models/Share @syndiate

/modules/generated @YukisCoffee
/modules/Rehike @YukisCoffee @aubymori @kawapure
/modules/Rehike/Async @YukisCoffee
/modules/Rehike/ControllerV2 @YukisCoffee
/modules/Rehike/Debugger @YukisCoffee
/modules/Rehike/i18n @YukisCoffee
/modules/Rehike/Player @YukisCoffee @kawapure @TorutheRedFox @DavidCGranger
/modules/Rehike/Signin @YukisCoffee @kawapure
/modules/Rehike/SignInV2 @YukisCoffee @kawapure
/modules/Rehike/Spf @YukisCoffee @kawapure
/modules/Rehike/Version @YukisCoffee
/modules/YukisCoffee @YukisCoffee

/src @YukisCoffee @aubymori @kawapure
/src/build_tools @kawapure
/src/img @YukisCoffee
/src/protos @YukisCoffee

/static/js/html5player @TorutheRedFox @YukisCoffee
/static/js/www-base-rehike.js @YukisCoffee

/template/hitchhiker @YukisCoffee @kawapure @aubymori
/template/hitchhiker/rehike @YukisCoffee
/template/hitchhiker/page_fragments @YukisCoffee @kawapure
/template/hitchhiker/player @YukisCoffee @TorutheRedFox

/index.php @YukisCoffee @kawapure @aubymori
/router.php @YukisCoffee @kawapure @aubymori

Update config.i18n
  i18n/ru/rehike/config.i18n
Owners: @malina-1797

CV3 part 1.5: Tiny things I forgot
  .version
  controllers/ajax/PickerFragmentsAjax.php
  modules/Rehike/TemplateManager.php
  router.php
Owners: @aubymori, @YukisCoffee, @kawapure

Fix channel videos tab crash
  .version
  models/Channels/Channels4/BrandedPageV2/MSubnav.php
Owners: @YukisCoffee, @aubymori, @kawapure

Fix playlist renderers
  .version
  i18n/en-US/regex.i18n
  models/Browse/InnertubeBrowseConverter.php
  models/ViewModelConverter/LockupViewModelConverter.php
  models/ViewModelConverter/PlaylistRendererViewModelConverter.php
Owners: @YukisCoffee, @aubymori, @kawapure

Improve fatal error handling
  .version
  includes/fatal_templates/fatal.css.php
  includes/fatal_templates/fatal_error_page.html.php
  modules/Rehike/ErrorHandler/ErrorHandler.php
  template/hitchhiker/fatal_error_stub.twig
Owners: @YukisCoffee, @kawapure, @aubymori

Remove commented-out unused code
  .version
  models/Rehike/Panel/Sidebar.php
  modules/Rehike/ErrorHandler/ErrorHandler.php
  modules/Rehike/Helper/WebV2Shelves.php
  modules/Rehike/SimpleFunnel.php
  modules/Rehike/i18n/Internal/Router/SimpleRouter.php
  src/build_tools/scripts/css_build.js
  template/hitchhiker/player/classic_player_decryptors.js.twig
Owners: @YukisCoffee, @aubymori, @kawapure, @TorutheRedFox

Homepage workaround
  .version
  controllers/FeedPageController.php
Owners: @YukisCoffee, @aubymori, @kawapure

style(small_player): Apply branding colors and hide scrubber
  template/hitchhiker/player/small_style.css.twig
Owners: @YukisCoffee, @TorutheRedFox

style: Force inline display for #watch7-headline
  template/hitchhiker/core/rehike_custom_css.twig
Owners: @YukisCoffee, @kawapure, @aubymori

Style: Refine small player progress bar tooltips
  template/hitchhiker/player/small_style.css.twig
Owners: @YukisCoffee, @TorutheRedFox

Revert refined progress bar tooltips
  template/hitchhiker/player/small_style.css.twig
Owners: @YukisCoffee, @TorutheRedFox

Update README.md
  README.md
Owners: none

Fix Pride yoodle after logo config change
  .version
  controllers/core/HitchhikerController.php
Owners: @YukisCoffee, @kawapure

Support text formatting in video descriptions and comments
  .version
  models/ViewModelConverter/CommentsViewModelConverter.php
  models/ViewModelConverter/PlaylistRendererViewModelConverter.php
  models/Watch/Watch8/MVideoSecondaryInfoRenderer.php
  modules/Rehike/Util/ParsingUtils.php
  template/hitchhiker/common/watch/action_panel/details.twig
Owners: @YukisCoffee, @aubymori, @kawapure

Support string data after the end of indexed runs
  .version
  modules/Rehike/Util/ParsingUtils.php
Owners: @YukisCoffee, @aubymori, @kawapure

Work around June 2025 legacy player initialisation removal
  .version
  static/js/www-base-rehike.js
Owners: @YukisCoffee

Revert a887d1e
  .version
  template/hitchhiker/core/rehike_custom_css.twig
Owners: @YukisCoffee, @kawapure, @aubymori

[i18n/ja] Fix Rehike config page; improvements.
  .version
  i18n/ja/rehike/config.i18n
Owners: @YukisCoffee

Fix undefined length property error on watch page
  .version
  modules/Rehike/Util/ParsingUtils.php
Owners: @YukisCoffee, @aubymori, @kawapure

whodat
  static/version/taniko.jpg
Owners: none

Fix browse_ajax fatal error
  template/hitchhiker/ajax/browse.twig
Owners: @YukisCoffee, @kawapure, @aubymori

Fix browse_ajax fatal error
  .version
  template/hitchhiker/ajax/browse.twig
Owners: @YukisCoffee, @kawapure, @aubymori

Fix truncated description link text encoding Issue could be seen here before: https://youtu.be/b87i07uLJIw
  .version
  models/Watch/Watch8/MVideoSecondaryInfoRenderer.php
  modules/Rehike/Util/ParsingUtils.php
Owners: @YukisCoffee, @aubymori, @kawapure

Truncation fix 2: Use mb_strlen to determine string width
  .version
  models/Watch/Watch8/MVideoSecondaryInfoRenderer.php
Owners: @YukisCoffee, @aubymori, @kawapure

Fix for watch sidebar video view models (no full view counts)
  .version
  controllers/WatchPageController.php
  models/ViewModelConverter/LockupViewModelConverter.php
  models/ViewModelConverter/VideoRendererViewModelConverter.php
Owners: @YukisCoffee, @aubymori, @kawapure

Fix playlist renderer "Play all" hover overlay text
  .version
  models/ViewModelConverter/PlaylistRendererViewModelConverter.php
Owners: @YukisCoffee, @aubymori, @kawapure

Fix video lockup view models with percent duration watched
  .version
  models/ViewModelConverter/VideoRendererViewModelConverter.php
Owners: @YukisCoffee, @aubymori, @kawapure

Prevent crash when trying to load an unsupported language
  .version
  modules/Rehike/i18n/BootServices.php
  modules/Rehike/i18n/Internal/Lang/Loader.php
Owners: @YukisCoffee

Fix Promise::all stale promise when 0 bound promises
  .version
  modules/Rehike/Async/Promise/PromiseAllController.php
Owners: @YukisCoffee

[CV3] Introduce fully-asynchronous controller design
  .version
  controllers/core/HitchhikerController.php
  modules/Rehike/Boot/Bootloader.php
  modules/Rehike/ControllerV2/IGetControllerAsync.php
  modules/Rehike/ControllerV2/IPostControllerAsync.php
  modules/Rehike/ControllerV2/Router.php
Owners: @YukisCoffee, @kawapure, @aubymori

Reintroduce full counts on watch recommendations + async watch controller
  .version
  controllers/WatchPageController.php
  models/Watch/FullViewCountsManager.php
  models/Watch/WatchBakery.php
Owners: @YukisCoffee, @aubymori, @kawapure

[docs] Update outdated CoffeeRequest reference
  docs/promises_api_and_async_php.md
Owners: @YukisCoffee, @kawapure

[Async] Implement tracking cookie object for debugging purposes
  modules/Rehike/Async/Debugging/IObjectWithTrackingCookie.php
  modules/Rehike/Async/Debugging/TrackingCookie.php
Owners: @YukisCoffee

[Async] Fix warning spam from PromiseStackTrace
  modules/Rehike/Async/Debugging/PromiseStackTrace.php
Owners: @YukisCoffee

[Async] Introduce common utilities
  modules/Rehike/Async/Utils.php
Owners: @YukisCoffee

[Async] Remove unused fromPromise() method from PromiseEvent
  modules/Rehike/Async/Promise/PromiseEvent.php
Owners: @YukisCoffee

[Async] Split promise stack trace interface from IPromise
  modules/Rehike/Async/IPromise.php
  modules/Rehike/Async/Promise.php
  modules/Rehike/Async/Promise/IPromiseWithStackTrace.php
Owners: @YukisCoffee

[Async] Prevent PromiseResolutionTracker from multiple handling
  modules/Rehike/Async/Promise/PromiseResolutionTracker.php
Owners: @YukisCoffee

[Async] Make PromiseResolutionTracker accept IPromise instead of Promise
  modules/Rehike/Async/Promise/PromiseResolutionTracker.php
Owners: @YukisCoffee

[Async] Make async functions handle catching
  modules/Rehike/Async/Concurrency/AsyncFunction.php
Owners: @YukisCoffee
